<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="ElixirAi" suffix=" · Phoenix Framework">
      {assigns[:page_title]}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
    <script type="module">
      import * as smd from "https://cdn.jsdelivr.net/npm/streaming-markdown/smd.min.js"
      import DOMPurify from "https://cdn.jsdelivr.net/npm/dompurify/+esm"
      window.smd = smd
      window.DOMPurify = DOMPurify
    </script>
  </head>
  <body class="bg-seafoam-900 text-seafoam-50">
    {live_render(@conn, ElixirAiWeb.VoiceLive, id: "voice-control")}
    {@inner_content}
  </body>
</html>
